[Unit]
Description=etcd web ui
Documentation=https://github.com/evildecay/etcdkeeper.git
After=network.target

[Service]
User=root
Type=simple
ExecStart=/opt/etcd/bin/etcdkeeper -h "0.0.0.0" -p 2381
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
